<div class="container mt-5">
  <button (click)="get500Error()" class="btn btn-outline-primary mr-3">Test Error 500</button>
  <button (click)="get400Error()" class="btn btn-outline-primary mr-3">Test Error 400</button>
  <button (click)="get404Error()" class="btn btn-outline-primary mr-3">Test Error 404</button>
  <button (click)="get400ValidationError()" class="btn btn-outline-primary mr-3">Test Validation Error 400</button>
  <div class="row mt-5" *ngIf="validationErrors && validationErrors.length > 0">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">{{error}}</li>
    </ul>
  </div>
</div>
