<div class="container mt-3">
  <div class="row">
    <section class="col-3">
      <ng-container *ngIf="types?.length && brands?.length">
      <h5 class="text-warning ml-3 mt-4 mb-3">Sort</h5>
      <select
        class="custom-select mb-4"
        (change)="onSortSelected($event.target.value)"
      >
        <option *ngFor="let sort of sortOptions" [value]="sort.value">
          {{ sort.name }}
        </option>
      </select>

      <h5 class="text-warning ml-3">Brands</h5>
      <ul class="list-group my-3">
        <!--we pass the value of selected item [value] the value that we want to pass up to the server-->
        <li
          class="list-group-item"
          *ngFor="let brand of brands"
          [class.active]="brand.id === shopParams.brandId"
          [value]="brand.id"
          (click)="onBrandSelected(brand.id)"
        >
          {{ brand.name }}
        </li>
      </ul>
      <h5 class="text-warning ml-3">Types</h5>
      <ul class="list-group my-3">
        <li
          class="list-group-item"
          *ngFor="let type of types"
          [class.active]="type.id === shopParams.typeId"
          [value]="type.id"
          (click)="onTypeSelected(type.id)"
        >
          {{ type.name }}
        </li>
      </ul>
    </ng-container>
    </section>
    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <app-paging-header
          [pageNumber]="shopParams.pageNumber"
          [totalCount]="totalCount"
          [pageSize]="shopParams.pageSize"
        ></app-paging-header>
        <div class="form-inline" *ngIf="products?.length">
          <input
            #search
            (keyup.enter)="onSearch()"
            class="form-control mr-2"
            style="width: 300px"
            placeholder="Search"
            type="text"
          />
          <button (click)="onSearch()" class="btn btn-outline-primary my-2">Search</button>
          <button (click)="onReset()" class="btn btn-outline-success my-2 ml-2">Reset</button>
        </div>
      </div>
      <div class="row">
        <div class="col-4 mb-4" *ngFor="let product of products">
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>
      <div
        class="d-flex justify-content-center"
        *ngIf="totalCount && totalCount > 0"
      >
        <app-pager
          (pageChanged)="onPageChanged($event)"
          [pageSize]="shopParams.pageSize"
          [totalCount]="totalCount"
        ></app-pager>
      </div>
    </section>
  </div>
</div>
